<!DOCTYPE html>
<title>IoT Club API</title>
<body>
    <h1>API usage</h1>
    <div>
        <body>To use most, if not all the of the functionality of the API you first need to gen a <code>key</code> with <code>{{ getkey }}</code>, 
            with the key it returns you can now put it after and API function to use that keys data i.e:
            <code>{{ update }}?key=YOURKEY&temp=0</code> updates <code>YOURKEY</code>'s temp data with a value of 0.</body>
        <li><code>{{ getkey }}</code> to create a new key.</li>
        <li><code>{{ home }}</code> gives users a plot of the temps.</li>
        <li><code>{{ update }}</code> update with parameters of <code>temp</code>.</li>
        <li><code>{{ remove }}/log</code> to remove that keys log.</li>
        <li><code>{{ remove }}/key</code> to remove that key.</li>
    </div>
</body>